@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #EF8421;
  --white: #EFEFEF;
  --black: #212121;
  --gray: #2D2D2D;
  --lightgray: #5F5F5F;
}

body {
  margin: 0;
  background-color: var(--gray);
}

.chat-container {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  height: calc(100% - 10rem);
}

.chat-container::-webkit-scrollbar { /* WebKit */
  width: 0px;
}